@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.card {
    width: 35rem;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow:  3px 2px 30px 1px hsl(241, 100%, 89%);
}

.section-one {
    width: 17.5rem;
    height: 25rem;
    background-color: hsl(234, 72%, 57%);
    border-radius: 25px;
}

.result-title {
    text-align: center;
    color: hsl(241, 100%, 89%);
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.3rem;
}

.display {
    display: flex;
    justify-content: center;
}

.content {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background: linear-gradient(180deg, hsla(256, 72%, 46%, 1) 0%, hsl(234, 72%, 57%) 100%);
}

.large-number {
    color: hsl(0, 0%, 100%);
    font-size: 3.5rem;
    font-weight: 800;
    
}

.small-number {
    color: hsl(241, 100%, 89%);
    font-size: 12px;
    display: block;
}

.great-color {
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.7rem;
}

.description {
    text-align: center;
    font-size: .9rem;
    color: hsl(241, 100%, 89%);
    margin: 0 2rem 0 2rem;
}

.section-two {
    width: 17.5rem;
    height: 25rem;
    padding: 0 30px;
}

.summary-title {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.result-description {
    width: 15rem;
    height: 2.4rem;
    border-radius: 5px;
    
}

.reaction {
    margin-bottom: 1.5rem;
    background-color: hsla(0, 100%, 67%, .1);
    border: 1px solid hsl(0, 100%, 67%);
    color: hsl(0, 100%, 67%);
    position: relative;
}

.result-description img {
    margin-top: 8px;
    margin-left: 5px;
}

.result-description p {
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 700;
}

.title {
    position: absolute;
    top: 19%;
    left: 12%;
}

.value {
    
    position: absolute;
    top: 19%;
    right: 8%;
}

.number-color {
    color: hsl(224, 30%, 27%);
}

.default-color {
    color: hsl(241, 100%, 89%);
}

.memory-reaction {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid hsl(39, 100%, 56%);
    color: hsla(39, 100%, 56%, 0.714);
    background-color: hsla(39, 100%, 56%, .1);
}

.verbal-reaction {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid hsl(166, 100%, 37%);
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, .1);
}

.visual-reaction {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid hsla(256, 72%, 46%, 1);
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, .1);
    ;
}

button {
    width: 15rem;
    height: 2.7rem;
    background-color: hsl(224, 30%, 27%);
    border-radius: 40px;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 700;
}

